@model List<Rate>

@{
    ViewData["Title"] = "Dashboard Movie";
    Layout = "~/Views/Admin/Shared/_LayoutAdmin.cshtml";
}
<div class="Dashboard container">
    <div class="row">
        <h1>Dashboard Rate</h1>

        <table class="table table-bordered col-lg-12">
            <tr>
                <th>PersonId</th>
                <th>Comment</th>
                <th>NumericRating</th>
                <th>Time</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PersonId</td>
                    <td>@item.Comment</td>
                    <td>@item.NumericRating</td>
                    <td>@item.Time</td>
                    <td>
                        <button onclick="location.href='@Url.Action("RemoveRate", "Admin", item)'" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </table>
        
    </div>
</div>